body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 98.78vw;
    font-family: 'Nunito', sans-serif;
    background-color: #262628;
}

body::-webkit-scrollbar {
    width: 12px;       
  }
  

  
  body::-webkit-scrollbar-thumb {
    background-color: #1c1c1d;
    border-radius: 20px;     
  }

.divWelcome {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #262628;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 70vh 1fr;
    grid-template-areas: "head head"
        "slogan musician"
        "more more";

}

header {
    grid-area: head;
}

header nav {
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divLogo {
    display: flex;
    align-items: center;
}

.divLogo img {
    width: 35%;
    margin-left: 15%;
}

.navigation {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    gap: 7%;
}

.navigation ul a {
    text-decoration: none;
    list-style: none;
    font-size: 1.15rem;
    color: #A9A5A6;
    transition: 200ms;
    border-bottom: 1px transparent solid;
}

.navigation ul a:hover {
    color: white;
    border-bottom: 1px #5c582a solid;
}

.navigation .activeLi {
    color: white;
}

.navigation button {
    text-decoration: none;
    margin-right: 7%;
    padding: 1% 4%;
    border-radius: 7px;
    font-size: 1.15rem;
    background-color: #736F45;
    border: none;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.navigation button a {
    text-decoration: none;
    color: white;
}

.navigation button:hover {
    background-color: #908835;
    transform: translate(0, -4%);
}

.contentSlogan {
    grid-area: slogan;
    margin-left: 20%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contentSlogan h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.contentSlogan p {
    font-size: 1.3rem;
    color: #A9A5A6;
}

.contentSlogan h3 {
    font-size: 1.7rem;
    color: #908F81;
    font-weight: 600;
}

.btnGradient {
    float: left;
    margin-right: 5%;
    width: 25%;
    padding: 3% 0;
    font-size: 1.1rem;
    border-radius: 8px;
    background: linear-gradient(93.03deg, #CFC44B 2.51%, rgba(36, 34, 17, 0.66) 65.11%);
    color: white;
    font-weight: 300;
    transition: 1000ms;
    border: none;
    cursor: pointer;
}

.btnGradient:hover {
    background: linear-gradient(93.03deg, #CFC44B 2.51%, rgba(36, 34, 17, 0.66) 80.11%);
}
.btnSimulador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    width: 25%;
    padding: 3% 0;
    margin-left: 5%;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}

.btnSimulador:hover {
    background-color: rgba(27, 27, 25, 0.66);
}


.divImgMusician {
    grid-area: musician;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divImgMusician img {
    width: 65%;
    margin-bottom: 10%;
    margin-right: 10%;
}

.divMore {
    grid-area: more;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
}

.divMore img:nth-child(1) {
    width: 1.5%;
    animation-duration: 3s;
    animation-name: more2;
    animation-iteration-count: infinite;
}

@keyframes more2 {

    0%,
    100% {
        transform: translatey(5px)
    }

    50% {
        transform: translatey(-5px)
    }
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.benefits h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 2.5rem;
    margin-top: 3%;
    margin-bottom: 5%;
    background: -webkit-linear-gradient(#eee, #9a752c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divCardsBenefits{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 50%;
    align-items: center;
}



.cardBenefits{
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 70%;
    padding: 0 2%;
    background: rgba(83, 75, 59, 0.48);
    box-shadow: 0px 4px 4px rgba(143, 133, 36, 0.42);
    border-radius: 8px;
    transition: 500ms;
}

 
.cardBenefits h2,.cardBenefits p{
    color: white;
    text-align: center;
}

.cardBenefits p{
    height: 30%;
    overflow: hidden;
}

.cardImgBenefits {
    position: absolute;
    width: 30%;
    top: -35%;
    left: -10%;
}

.cardImgBenefitsFirst{
    width: 35%;
    top: -35%;
    left: -10%;
}


.cardBenefits .imgMore{
    cursor: pointer;
    margin-bottom: 3%;
    transition: 500ms;
    
}

.cardBenefits .imgMore:hover{
    transform:translate(0,20%);
    filter: blur(1px) grayscale(100%);
}

/* classe do aumento do texto */
.cardBenefitsactive{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height:120%;
    padding: 0 2%;
    background: rgba(83, 75, 59, 0.48);
    box-shadow: 0px 4px 4px rgba(143, 133, 36, 0.42);
    border-radius: 8px;
    transition: 500ms;
}
.cardBenefitsactive .imgMoreActive{
    cursor: pointer;
    margin-bottom: 3%;
    transition: 500ms;
    transform: rotate(180deg);
}

.cardBenefitsactive .imgMoreActive:hover{
    filter: blur(1px) grayscale(100%);
}

.cardBenefitsactive h2,.cardBenefitsactive p{
    color: white;
    text-align: center;
}
.cardBenefitsactive h2{
    text-align: center;
}

.cardBenefitsactive p{
    height: 30%;
    margin-bottom: 50%;
}

/*  */

.learnMusics{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.learnMusics h1{
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.divGridMusics{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:"homeMusic homeMusic jeteMusic jeteMusic houseMusic houseMusic"
                        "homeMusic homeMusic nothingMusic theLastMusic theLastMusic theLastMusic " ;
    width: 98%;
    height: 65%;

    row-gap: 1.7%;
    column-gap:0.7%;

}


.div1{
    grid-area: homeMusic;
    overflow: hidden;
    width: 100%;
}

.div1 img{
    width: 100%;
    height: 65%;
}
.div2{
    grid-area:jeteMusic ;
    overflow: hidden;
}
.div2 img{
    width: 100%;
    height: 100%;
}
.div3{
    grid-area: houseMusic;
}
.div3 img{
    width: 100%;
    height: 100%;
}
.div4{
    grid-area: nothingMusic;
}
.div4 img{
    width: 100%;
    height: 41%;
}
.div5{
    grid-area: theLastMusic;
}
.div5 img{
    width: 100%;
    height: 80%;
}

.divTools{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180vh;
    margin-top: 15%;
}

.divTools h1{
    font-size: 3rem;
    color: #CE9E23;
}

.divToolsTop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCardTools{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 35vh;
    padding: 2%;
    background-color: white;
    border-radius: 30px;
}
.guitar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.guitar img{
    width: 80%;
    margin-bottom: 10%;
}
.cardChord h2{
    margin: 0;
    margin-bottom: 10%;
}
.cardChord p{
    margin: 0;
    margin-bottom: 15%;
}

.buttonCardTools{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    background-color: white;
    transition: 500ms;
}
.buttonCardTools:hover{
    transform: translate(10%,0);
}

.buttonCardTools img{
    transform: rotate(-90deg);
    width: 50%;
    filter: brightness(.4);
}
.cardChord{
    background-color:#F0D48A ;
}

.cardSimulator{
    background-color:#8AF0BF ;
}
.cardQuiz{
    background-color: #ABF08A;
}

