body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 98.78vw;
  font-family: 'Nunito', sans-serif;
  background-color: #262628;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1c1c1d;
  border-radius: 20px;
}

.divContentAll {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  height: 100vh;
  margin-left: 10%;
  /* background-color: red; */
}

.divChat {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 93%;
  background-color: rgb(14, 14, 14);
  margin-left: 2%;
  border-radius: 15px;
}

.divFeed {
  bottom: 0;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  /* justify-content: flex-start; */
  padding: 5%;
  /* background-color: red; */
}


.divFeed::-webkit-scrollbar {
  width: 12px;
}

.divFeed::-webkit-scrollbar-thumb {
  background-color: #1c1c1d;
  border-radius: 20px;
}

.divMessage {
  width: 70%;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 1% 3%;
  word-wrap: break-word;
  margin: 3%;
  border-radius: 20px;
}

.divMessage h3 {
  font-size: 1.3rem;
}

.divMessage p {
  font-weight: 300;
  color: rgb(192, 192, 192);
}

.divInput {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5%;
  background-color: #101011;
  border-radius: 0 0 20px 20px;
  /* justify-content: ; */
  height: 10%;
  width: 100%;
  /* background-color: green; */
  font-size: 1.4rem;

}

.divInput button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.divInput i {
  cursor: pointer;
  color: aliceblue;
  transition: 300ms;
}

.divInput i:hover {
  transform: translate(10%, -20%);
  cursor: pointer;
  color: rgb(117, 122, 126);
  filter: drop-shadow(-10px 20px 4px black);
}


.divInput input {
  width: 80%;
  padding: 0.5% 2%;
  height: 55%;
  font-size: 1.3rem;
  outline: none;
  border-radius: 7px;
  color: rgb(249, 249, 249);
  background-color: #1c1c1d;
  border: 1px solid rgb(30, 29, 29);
}

.divInput form {
  width: 100%;
  padding: 0.5% 2%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}