body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    /* width: 98.78vw; */
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #1c1c1d;
    border-radius: 20px;
}

.divContentSignUp {
    display: flex;
    width: 100%;
    height: 100vh;
}

.iconBack{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.iconBack a img{
    margin-left: -10%;
    width: 10%;
    height: 10%;
}
.textSelectYourInstrument{
    margin:0;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}
.divSelectYourInstrument {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    /* Cor a definir */
    background-color: #807B4D;
}
.contentYourInstrument{
    flex-wrap: wrap;
    display: flex;
    width:98%;
    height: 49vh;
    filter: drop-shadow(10px 5px 4px #0e0e0f);
    flex-direction: column;
    border-radius: 3px;
    overflow-x: scroll;
}

.contentYourInstrument::-webkit-scrollbar {
    width: 12px;       
  }
  

  .contentYourInstrument::-webkit-scrollbar-thumb {
    background-color: #eeeeee52;
    border-radius: 20px;     
  }
.cardYourInstruments{
    background-color: rgba(33, 29, 2, 0.229);
    display: flex;
    align-items: baseline;
    width: 20%;
    height: 39%;
    padding: 1.5%;
    /* background-color: blue; */
    margin:0.5%;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition:400ms;
}

.cardYourInstruments:hover{
    border: 1px solid #33311F;
   transform: translate(0%,-1%);
}


.radioYourInstruments{
    position: relative;
    margin: 0;
    left: 90%;
    top: -2%;
}

.contentCardYourInstruments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 10%;
    /* background-color: green; */
}
.nameOfInstruments{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 20%;
}
.nameOfInstruments h3{
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: -4%;
    color: white;
}
.imgOfInstruments{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.imgOfInstruments img{
    width: 45%;
}

.divSignUp {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divSignUp h1 {
    color:rgba(9, 55, 67, 0.688);
}

.divsInputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.iconInputsLabel1{
    position: absolute;
    right: 33%;
    top: 20.5%;
    margin: 0;
    padding: 0;
}

.iconInputsLabel2{
    position: absolute;
    right: 33%;
    top: 32.5%;
    margin: 0;
    padding: 0;
    border: 0;
}

.iconInputsLabel3{
    position: absolute;
    right: 33%;
    top: 44.5%;
    margin: 0;
    padding: 0;
    border: 0;
}

.iconInputsLabel4{
    position: absolute;
    right: 33%;
    top: 56.5%;
    margin: 0;
    padding: 0;
    border: 0;
}

.iconInputsLabelAcept{
    position: relative;
    right: 26%;
    top: 45%;
}
.inputSign {
    margin-bottom: 5%;
    font-size: 1rem;
    color: rgba(11, 70, 84);
    width: 50%;
    padding: 2% 2% 2% 7%;
    border-radius: 10px;
    border: 2px solid rgba(11, 70, 84, 0.25);
    outline: transparent;
    
}

.inputError {
    /* display:flex ;
    justify-content: center;
    align-items: center; */
    margin-bottom: 1%;
    font-size: 1rem;
    width: 100%;
    color: rgba(11, 70, 84);
    width: 50%;
    padding: 2% 2% 2% 7%;
    border-radius: 10px;
    border: 2px solid red;
    outline: red;
}

/* input sem erro */
.msgError{
    display: none;
    position:fixed;
    font-size: 1.1rem;
    left: 60.5%;
    margin: 0;
    margin-top: 3.5%;
    padding: 0;
    border: 0;
}

.msgErrorActive{
    position:fixed;
    font-size: 1.1rem;
    left: 64.5%;
    margin: 0;
    margin-top: 4.7%;
    padding: 0;
    border: 0;
    color: red;
}
.simbolError{
    display: none;
    position: relative;
    right: -25%;
    top: -7%;
    width: 4%;
}

/* inputAcept */
.inputAcept {
    /* display:flex ;
    justify-content: center;
    align-items: center; */
    margin-bottom: 1%;
    font-size: 1rem;
    width: 100%;
    color: rgba(11, 70, 84);
    width: 50%;
    padding: 2% 2% 2% 7%;
    border-radius: 10px;
    border: 2px solid green;
    outline: green;
}

.msgErrorAcept{
    position:fixed;
    font-size: 1.1rem;
    left: 64.5%;
    margin: 0;
    margin-top: 4.7%;
    padding: 0;
    border: 0;
    color: green;
}

.divSignUp h3{
    color: rgba(0, 0, 0, 0.5);
}

.divSignUp a{
    color: #736F45;
    text-decoration: none;
}

.divSignUp a:hover{
    text-decoration: underline;
}

.buttonSignUp {
    font-size: 1.1rem;
    color: white;
    background-color: #736F45;
    margin-top: 4%;
    width: 60%;
    height: 8%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
    border-radius: 11.8264px;
    margin-bottom: 5%;
    cursor: pointer;
}


.buttonSignUp:hover {
    font-size: 1.1rem;
    color: white;
    background-color: #59563b;
    margin-top: 4%;
    width: 60%;
    height: 8%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
    border-radius: 11.8264px;
    margin-bottom: 5%;
}


