.divContentCovers{
    display: flex;
    padding: 3%;
    width: 75%;
    margin-left: 2%;
    margin-bottom: 4%;
    height: 75%;
    background-color: rgb(44, 43, 43);
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 2%;
}
.divContentCovers::-webkit-scrollbar {
    width: 12px;       
  }
  
  .divContentCovers::-webkit-scrollbar-thumb {
    background-color: #1c1c1d;
    border-radius: 20px;     
  }
.divItemCover{
    width: 49%;
    height: 60%;
    border-radius: 20px;
    background-color: red;
    
}

.iframe{
    width: 101%;
    height: 101%;
    border-radius: 20px;
    border: none;
}

