body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    /* width: 98.78vw; */
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #1c1c1d;
    border-radius: 20px;
}

.divContentSignUp {
    display: flex;
    width: 100%;
    height: 100vh;
}

.divSelectYourInstrument {
    height: 100%;
    width: 100%;
    background-color: #936161;
}

.divSignUp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divSignUp h1 {}

.divSignUp input {
    margin-bottom: 3%;
    font-size: 1rem;
    color: rgba(11, 70, 84);
    width: 55%;
    padding: 2% 2%;
    border-radius: 10px;
    border: 2px solid rgba(11, 70, 84, 0.25);
    outline: transparent;
}

.divSignUp h3{
    color: rgba(0, 0, 0, 0.5);
}

.divSignUp a{
    color: #736F45;
    text-decoration: none;
}

.divSignUp a:hover{
    text-decoration: underline;
}

.buttonSignUp {
    font-size: 1.1rem;
    color: white;
    background-color: #736F45;
    margin-top: 4%;
    width: 60%;
    height: 8%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
    border-radius: 11.8264px;
    margin-bottom: 5%;
}
