body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 98.78vw;
    font-family: 'Nunito', sans-serif;
    background-color: #262628;
}

.divWelcome {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #262628;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 70vh 1fr;
    grid-template-areas: "head head"
        "slogan musician"
        "more more";

}

header {
    grid-area: head;
}

header nav {
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divLogo {
    display: flex;
    align-items: center;
}

.divLogo img {
    width: 35%;
    margin-left: 15%;
}

.navigation {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    gap: 3%;
}

.navigation ul a {
    text-decoration: none;
    list-style: none;
    font-size: 1.15rem;
    color: #A9A5A6;
    transition: 200ms;
    border-bottom: 1px transparent solid;
}

.navigation ul a:hover {
    color: white;
    border-bottom: 1px #5c582a solid;
}

.navigation .activeLi {
    color: white;
}

.navigation button {
    text-decoration: none;
    margin-right: 7%;
    padding: 1% 4%;
    border-radius: 7px;
    font-size: 1.15rem;
    background-color: #736F45;
    border: none;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.navigation button a {
    text-decoration: none;
    color: white;
}

.navigation button:hover {
    background-color: #908835;
    transform: translate(0, -4%);
}

.contentSlogan {
    grid-area: slogan;
    margin-left: 20%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contentSlogan h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.contentSlogan p {
    font-size: 1.3rem;
    color: #A9A5A6;
}

.contentSlogan h3 {
    font-size: 1.7rem;
    color: #908F81;
    font-weight: 600;
}

.btnGradient {
    width: 25%;
    padding: 3% 0;
    font-size: 1.1rem;
    border-radius: 8px;
    background: linear-gradient(93.03deg, #CFC44B 2.51%, rgba(36, 34, 17, 0.66) 65.11%);
    color: white;
    font-weight: 300;
    border: none;
    cursor: pointer;
}

.btnSimulador {
    width: 25%;
    padding: 3% 0;
    margin-left: 5%;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    background-color: transparent;
    border: none;
}

.divImgMusician {
    grid-area: musician;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divImgMusician img {
    width: 65%;
    margin-bottom: 10%;
    margin-right: 10%;
}

.divMore {
    grid-area: more;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
}

.divMore img:nth-child(1) {
    width: 1.5%;
    animation-duration: 3s;
    animation-name: more2;
    animation-iteration-count: infinite;
}

@keyframes more2 {

    0%,
    100% {
        transform: translatey(5px)
    }

    50% {
        transform: translatey(-5px)
    }
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.benefits h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 2.5rem;
    margin-top: 3%;
    margin-bottom: 5%;
    background: -webkit-linear-gradient(#eee, #9a752c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divCardsBenefits{
    width: 100%;
    height: 50%;
    background-color: red;
}